@{
    ViewData["Title"] = "Denied";
    Layout = "_LayoutSignInOut";
}

<h1 class="h3 mb-3 fw-normal Mypadding unselectable">У вас нет доступа к этой странице</h1>
<br />
<div class="col d-flex align-items-start">
    <a asp-controller="Home" asp-action="Index" class="w-100 btn btn-lg btn-outline-primary ">
        Назад
    </a>
</div>
